li {
  list-style: none;
}

hr {
  display: block; height: 1px;
  border: 0; border-top: 1px solid #000;
  margin: 1em 0; padding: 0;
}

.center {
  text-align: center;
}

.flip-container {
	/*perspective: 1000;*/
  display:block;
  margin-left:auto;
  margin-right:auto;
}
	/* flip the pane when clicked */
	.flipped {
		transform: rotateY(180deg);
	}

.front {
	width: 374px;
	height: 223px;
  background-image: url("img/notecard.jpg");
  padding: 85px;
  color: #000;
}

.back {
	width: 374px;
	height: 223px;
  text-align: center;
  background-color: #FDEDA6;
  padding: 10px;
  color: #000;
  position: absolute;
}

.flip-container {
	width: 374px;
	height: 223px;
  background-color: white;
  text-align: center;
  font-size: 200%;
  padding: 3px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
  /*position: absolute;*/
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.deckName {
  margin-top: 0px;
}

.cardheader {
  color: blue;
  font-size: 50%;
}
