<div ng-controller="CardCtrl">
  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
       <div class="front">
         {{card.front}}
       </div>
       <div class="back">
         {{card.back}}
       </div>
    </div>
  </div>
  <a ng-show="card.id < deck.cards.length" ui-sref="card({ deckId: deck.id, cardId: (card.id + 1)})">Next card</a>
  <a ng-show="card.id === deck.cards.length" ui-sref="deck({ deckId: deck.id })">Back to Deck</a>
</div>

if
card.id > deck.cards.length
then
go to decks
