<div ng-controller="CardCtrl">
  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
       <div class="front">
         {{card.front}}
       </div>
       <div class="back">
         {{card.back}}
       </div>
    </div>
  </div>
  <a ng-show="card.id < deck.cards.length" ui-sref="card({ deckId: deck.id, cardId: (card.id + 1)})">Next card</a>
  <a ng-show="card.id === deck.cards.length" ui-sref="deck({ deckId: deck.id })">Back to Deck</a>
</div>

<h4>Would you like to change the difficulty rating? Currently: {{card.difficulty}}</h4>
<button class="btn btn-success" ng-click="assignEasy()">Easy</button>
<button class="btn btn-warning" ng-click="assignMedium()">Medium</button>
<button class="btn btn-danger" ng-click="assignHard()">Hard</button>
