<div ng-controller="CardCtrl">
  <div class="row">
    <div class="col-xs-3">
      <button ui-sref="deck({deckId: deck.id})" class="btn btn-default">
        {{deck.name}}
        <span class="badge">
          {{deck.cards.length}}
        </span>
      </button>
      <div class="statbar well">
        <h6>Practiced <span class="badge">{{practicedCards || 5}}</span></h6>
        <hr>
        <div class="tough-counts">
          <h6 class="text-success">Easy <span class="badge">{{0}}</span></h6>
          <h6 class="text-warning">Medium <span class="badge">{{0}}</span></h6>
          <h6 class="text-danger">Hard <span class="badge">{{0}}</span></h6>
        </div>
      </div>
    </div>

    <div class="flip-container col-xs-6">
      <div class="flipper" onclick="this.classList.toggle('flipped'); clicksound.playclip();">
         <div class="front">
           {{card.front}}
         </div>
         <div class="back">
           <div class="cardheader">
             {{card.front}}
             <hr>
           </div>
           {{card.back}}
         </div>
      </div>
    </div>
    <div class="col-xs-3">
    </div>
  </div>
  <br>
  <div class="center">

    <div class="btn-group" role="group" aria-label="...">
      <button class="btn btn-info" onclick="$('.flipper').toggleClass('flipped'); clicksound.playclip();">Flip (spacebar)</button>
      <button class="btn btn-default" ng-click="nextCard()">Pass</button>
    </div>
    <br>
    <br>
    <div class="btn-group" role="group" aria-label="...">
      <button class="btn btn-default" ng-click="easyCard()"><span class="text-success">Easy (1)</span></button>
      <button class="btn btn-default" ng-click="mediumCard()"><span class="text-warning">Med. (2)</span></button>
      <button class="btn btn-default" ng-click="hardCard()"><span class="text-danger">Hard (3)</span></button>
    </div>
  </div>
</div>
