<h1>Team Members:</h1>
<hr>
<a href="http://github.com/gabefinch">Game Finch</a>
<br>
<a href="http://github.com/alexkaufman06">Alex Kaufman</a>
<br>
<a href="http://github.com/j6turner">Julie Turner</a>
<br>
<a href="http://github.com/ArgonCode">Silwia Bialczak</a>
<br>
<a href="http://github.com/ben-pritchard">Ben Pritchard</a>
<br>
<a href="http://github.com/amymichellejohnson">Amy Michelle Johnson</a>
<hr>
<div class="center">
  <a href="https://github.com/alexkaufman06/tech-vocab/issues">Click Here to Report a Bug</a>
</div>
