<div ng-controller="DeckCtrl">
  <div class="row" ng-show="!titleEditing">
    <div class="col-sm-6">
      <h3 class="deckName">{{deck.name}} </h3>
    </div>
    <button class="btn col-sm-1" ng-click="titleEditing=true">Edit</button>
    <div class="col-sm-5"></div>
  </div>
  <div class="row" ng-show="titleEditing">
    <div class="col-sm-6">
      <input type="text" ng-model="deck.name" class="form-control input-lg">
    </div>
    <button class="btn btn-success col-sm-1" ng-click="titleEditing = false">Save</button>
    <div class="col-sm-5"></div>
  </div>
  <a ui-sref="card({ deckId: deck.id, cardId: 1 })">Practice {{deck.name}}</a>
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>#</th>
        <th>Front</th>
        <th>Back</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in deck.cards">
          <td ng-show="!isEditing">{{item.id}}</td>
          <td ng-show="!isEditing">{{item.front}}</td>
          <td ng-show="!isEditing">{{item.back}}</td>
          <td ng-show="!isEditing"><button ng-click="isEditing = true" class="btn">Edit</button></td>
        <!-- </div> -->
        <!-- <div ng-show="isEditing"> -->
          <td ng-show="isEditing">{{item.id}}</td>
          <td ng-show="isEditing"><input type="text" ng-model="item.front" class="form-control input-sm"></td>
          <td ng-show="isEditing"><input type="text" ng-model="item.back" class="form-control input-sm"></td>
          <td ng-show="isEditing"><button ng-click="isEditing = false" class="btn btn-success">Save</button></td>
          <td><button ng-click="deleteCard(item,deck)" class="btn btn-danger btn-xs">Delete!</button></td>
      </tr>
      <tr>
        <td>{{deck.cards.length + 1}}</td>
        <td><input ng-model="newFront" class="form-control input-sm"></td>
        <td><input ng-model="newBack" class="form-control input-sm"></td>
        <td><button ng-click="createCard()" class="btn btn-success">Add Card</button></td>
      </tr>
    </tbody>
  </table>
</div>
