<div class="row">

  <div class="col-sm-1"></div>

  <div class="col-sm-2 cardpieces">
    <div class="card-container card1">
    	<div class="flipcard">
    		<div class="face">
    			<h1 class="homecard">F</h1>
          <h1 class="homecard">C</h1>
    		</div>
    		<div class="rear">
    			<h1 class="homecard">C</h1>
          <h1 class="homecard">Y</h1>
    		</div>
    	</div>
    </div>
  </div>

  <div class="col-sm-2 cardpieces">
    <div class="card-container card2" ontouchstart="this.classList.toggle('hover');">
      <div class="flipcard">
        <div class="face">
          <h1 class="homecard">L</h1>
          <h1 class="homecard">A</h1>
        </div>
        <div class="rear">
          <h1 class="homecard">L</h1>
          <h1 class="homecard">U</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-2 cardpieces">
    <div class="card-container card3" ontouchstart="this.classList.toggle('hover');">
      <div class="flipcard">
        <div class="face">
          <h1 class="homecard">A</h1>
          <h1 class="homecard">R</h1>
        </div>
        <div class="rear">
          <h1 class="homecard">E</h1>
          <h1 class="homecard">R</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-2 cardpieces">
    <div class="card-container card4" ontouchstart="this.classList.toggle('hover');">
      <div class="flipcard">
        <div class="face">
          <h1 class="homecard">S</h1>
          <h1 class="homecard">D</h1>
        </div>
        <div class="rear">
          <h1 class="homecard">S</h1>
          <h1 class="homecard">E</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-2 cardpieces">
    <div class="card-container card5" ontouchstart="this.classList.toggle('hover');">
      <div class="flipcard">
        <div class="face">
          <h1 class="homecard">H</h1>
          <h1 class="homecard">S</h1>
        </div>
        <div class="rear">
          <h1 class="homecard">K</h1>
          <h1 class="homecard">S</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-1"></div>

</div>
