<div ng-controller="MatchCtrl">

  <div class="row">
    <div class="col-xs-4">
    </div>
     <div class="matchfront col-sm-4">
       {{card.front}}
     </div>
    <div class="col-xs-4">
    </div>
  </div>
  <br>
<hr>
  <h4 class="center">Select the match:</h4>
  <div class="row">
    <div class="col-sm-4">
      <div class="matchback" ng-click="">
        {{card1.back}}
      </div>
     <br>
    </div>
    <div class="col-sm-4">
      <div class="matchback" ng-click="">
        {{card2.back}}
      </div>
      <br>
    </div>
    <div class="col-sm-4">
      <div class="matchback" ng-click="">
        {{card3.back}}
      </div>
      <br>
    </div>
  </div>

</div>
